body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #000000;
}

a {
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}

.claimbg {
  padding: 100px 0;
  background-size: 78%;
  background-image: url('./images/bg-art.png');
  opacity: 0.8;
}

.transferPanel {
  background-color: #541212 !important;
  margin: auto;
  max-width: 1000px;
  position: relative;
  top: -90px;
}

@media screen and (max-width: 500px) {
  .transferPanel {
    margin: 20px;
  }

  .claimbg {
    background-size: 150%;
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
